<section class="contact contact-section grey-section">

	<h2 class="sub-title">Contact</h2>

	<div class="contact-lockup">

		<div class="contact-section">
			<div class="contact-padding">
				<div class="contact-title">
					Phone:
				</div>
				07935 434 176
			</div>
		</div>
		<div class="contact-section">
			<div class="contact-padding">
				<div class="contact-title">
					Email:
				</div> 
				info@buntingfordcomputing.com
			</div>
		</div>

		<div class="contact-section">
			<div class="contact-padding">
				<div class="contact-social-media">
					<a href="{{site.linkedin}}">LinkedIn</a>
				</div>
			</div>
		</div>
	</div>

</section>