<section class="welcome welcome-section ">

	<div class="welcome-blurb">
		<p>
			Buntingford Computing offers professional, affordable PC repair, advice and tech lessons in the Buntingford area.



			My services include:
		</p>
		<p class="middle">
			PC hardware or software repair / replacement<br>
			PC installation or custom builds<br>
			Malicious software removal<br>
			Free tech advice<br>
			Tech lessons - learn how to use your PC, Tablet or smartphone.<br>

		</p>
		<p>
			I am available to make house calls within Buntingford, or you can drop off and pick up your hardware from my location.
			<br>
			<br>
			For more information or to arrange a call, please contact me via one of the options below!
		</p>
	</div>

</section>